
{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3> Reporte  {{mes}} - {{anio}} </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
        
        <hr>


        <form action="/reporte" method="GET">
            <div class="form-inline">
                <div class="col-8">
                    <select name="txtMes" class="form-control" required="" id="id_txtMes">
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>

                    <select name="txtAnio" class="form-control" required="" id="id_txtAnio">
                        <option value="2022">2022</option>
                    </select>

                    <button type="submit" class="btn btn-default" title="Generar Reporte" >
                        <i class="fas fa-receipt"></i>
                    </button>

                    <button type="button" class="btn btn-default" title="Imprimir Reporte" onclick="javascrit:ImprimirReporte()">
                        <i class="fas fa-print"></i>
                    </button>

                </div>

                <div class="col-2">
                    
                
                </div>

                <div class="col-2">
                </div>
            </div>

            <br>

            <table class="table" id="tablaDatos">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Monto</th>
                        <th>Monto Comision</th>
                    </tr>
                </thead>

                <tbody>
                    {% for resultado in resultados %}
                    <tr>
                        <td>{{resultado.expediente.cliente.apellido }}</td>
                        <td>{{resultado.expediente.cliente.nombre }}</td>
                        <td>{{resultado.importe}}</td>

                        {%if resultado.importecomision %}
                            <td>{{resultado.importecomision }}</td>
                        {%else%}
                            <td></td>
                        {%endif%}
                        
                    </tr>
                    {% endfor %}
                
                </tbody>
                
            </table>
            <label><b>Total: {{total}}</b></label>
            
            <hr>
            <label><b>Total Comision: {{totalcomision}}</b></label>

        </form>
    </div>

{% endblock %}


{% block js_extra %}
    <script>

        $(document).ready(function () {
            var mesNro = {{mesnro}};

            if(mesNro){
                var selMes = document.getElementById("id_txtMes");
                console.log(selMes);
                selMes.value = mesNro;
                //selMes.options[mesNro].selected = true;
            }

        });
        
        function ImprimirReporte(){
            window.print();
        }

        function exportTableToExcel(filename = ''){
            //var tableID = document.getElementById("tablaDatos");
            
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById("tablaDatos");
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
    
            // Create download link element
            downloadLink = document.createElement("a");
    
            document.body.appendChild(downloadLink);
    
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            }else{
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
                // Setting the file name
                downloadLink.download = filename;
        
                //triggering the function
                downloadLink.click();
            }
        }

        function ObtenerParametroURL(){
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var parametroprofesional = urlParams.get('selectProfesional');
            return parametroprofesional;
        }

    </script>

{% endblock %}

